html {
    box-sizing: border-box;
    font-family: sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-image: url('./css-images/the-rift.jpg');
    display: flex;
    flex-direction: column;
}

#root {
    flex: 1;
}

header {
    width: 100%;
    height: 116px;
}

.title {
    text-align: center;
    font-size: 28px;
    color: #fff;
    padding-top: 14px;
    font-family: 'Trade Winds';
    text-shadow: -2px 2px black;
}

.search {
    max-width: 350px;
    height: 40px;
    margin: auto;
    padding: 0 50px 0 0;
    background: #fff;
    border-radius: 3px;
    position: relative;
}

.search form, .input {
    width: 100%;
    height: 40px;
    border-radius: 3px;
}

.input {
    border: none;
    padding: 0 0 0 12px;
    font-size: 20px;
}

.input:focus, button:focus {
    outline: none;
}

.search button {
    position: absolute;
    top: 5px;
    right: 10px;
    border: none;
    padding: 0;
    height: 32px;
    background-color: white;
}

.search button {
    cursor: pointer;
}

.search button img, footer img {
    width: 32px;
    height: 32px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table {
    margin-bottom: 20px; 
}

.data-table {
    text-align: center;
    max-width: 1000px;
    font-size: 14px;
}

.data-table tbody {
    font-size: 10px;
}

.thead-dark th, thead th {
    padding: 0;
    border: none;
}

footer {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 14px;
}

.credit {
    height: 22px;
    padding: 2px 8px 0 0;
}

.github {
    padding: 2px 0 0 8px;
}

@media screen and (max-width: 1120px) {
    body {
        background-image: url('./css-images/the-rift-mobile.jpg');
    }
}