html {
    box-sizing: border-box;
    font-family: sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body, #root {
    width: 100%;
    height: 100%;
}

body {
    background-image: url('./css-images/the-rift.jpg');
    display: flex;
    flex-direction: column;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    width: 100%;
    height: 100px;
}

.title {
    text-align: center;
    font-size: 32px;
    color: #fff;
    padding: 12px 0 8px 0;
    font-family: 'Trade Winds';
    text-shadow: -2px 2px black;
}

.search {
    max-width: 350px;
    height: 40px;
    margin: auto;
    padding: 0 50px 0 0;
    background: #fff;
    border-radius: 3px;
    position: relative;
}

.search form, .input {
    width: 100%;
    height: 40px;
    border-radius: 3px;
}

.input {
    border: none;
    padding: 0 0 0 12px;
    font-size: 20px;
}

.input:focus, button:focus {
    outline: none;
}

.search button {
    position: absolute;
    top: 5px;
    right: 10px;
    border: none;
    padding: 0;
    height: 32px;
    background-color: white;
}

.search button {
    cursor: pointer;
}

.search button img, footer img {
    width: 32px;
    height: 32px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.message {
    color: #fff;
    font-size: 24px;
    text-align: center;
    background-color: rgba(46, 46, 46, 0.479);
}

.data-container {
    width: 90%;
    max-width: 660px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    text-align: center;
}

.row {
    height: 40px;
    display: flex;
    padding: 0 2px 0 2px;
}

.top-row {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.bottom-row {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.blue-team {
    background-color: #2398d3;
}

.red-team {
    background-color: #f0655c;
}

.blue-team-dark {
    background-color: #1c80b3;
}

.red-team-dark {
    background-color: #c25149;
}

.summoner {
    width: 40%;
    border-right: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.champion {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top-mini-row, .bottom-mini-row {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.s-name, .c-name {
    font-weight: bold;
}

footer {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 14px;
}

.credit {
    text-shadow: -1px 1px black;
    padding: 0 5px 0 0;
}

.github {
    padding: 2px 0 0 5px;
}

@media screen and (max-width: 1500px) {
    body {
        background-image: url('./css-images/the-rift-medium.jpg');
    }
}

@media screen and (max-height: 799px) and (max-width: 850px) {
    body {
        background-image: url('./css-images/the-rift-mobile.jpg');
    }
}

@media screen and (max-width: 400px) {
    .data-container {
        font-size: 11px;
    }
}